<mat-dialog-content>
<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="Adresse-card">
        <mat-card-header>
          <mat-card-title>Parking</mat-card-title>
        </mat-card-header>
        <mat-card-content>



      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Parking" formControlName="libelle"/>
          </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="full-width">
              <input type="number" matInput placeholder="Latitude" formControlName="latitude">
              <mat-error *ngIf="addressForm.controls['latitude'].hasError('required')">
                  Latitude est <strong>Obligatoire</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col">
              <mat-form-field class="full-width">
                <input type="number" matInput placeholder="Longitude" formControlName="longitude">
                <mat-error *ngIf="addressForm.controls['longitude'].hasError('required')">
                    longitude est <strong>Obligatoire</strong>
                </mat-error>
              </mat-form-field>
            </div>
      </div>

      <div class="row">
          <div class="col">
              <mat-form-field class="full-width">
                <mat-select placeholder="Type parking" formControlName="typeParking">
                  <mat-option *ngFor="let typepark of typeParkings" [value]="typepark?.typeId">
                    {{ typepark?.type }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="addressForm.controls['typeParking'].hasError('required')">
                    Type parking est <strong>Obligatoire</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
            <mat-form-field class="full-width">
              <input type="number" matInput placeholder="Nombre de place " formControlName="nbPlace">
              <mat-error *ngIf="addressForm.controls['nbPlace'].hasError('required')">
                  Nombre de place est <strong>Obligatoire</strong>
              </mat-error>
            </mat-form-field>
          </div>
      </div>
    </mat-card-content>
    </mat-card>


  <mat-card class="Adresse-card">
    <mat-card-header>
      <mat-card-title>Adresse</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      
    
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Adresse" formControlName="adresse"></textarea>
            <mat-error *ngIf="addressForm.controls['adresse'].hasError('required')">
              L'Adresse est <strong>Obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Ville" formControlName="Ville">
            <mat-error *ngIf="addressForm.controls['Ville'].hasError('required')">
              Ville est <strong>Obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Gouvernorat" formControlName="Gouvernorat">
              <mat-option *ngFor="let state of states" [value]="state.abbreviation">
                {{ state.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addressForm.controls['Gouvernorat'].hasError('required')">
              Gouvernorat est <strong>Obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #postalCode maxlength="5" placeholder="Code Postale" type="number" formControlName="postalCode">
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Pays" formControlName="Pays">
            <mat-error *ngIf="addressForm.controls['Pays'].hasError('required')">
              Ville est <strong>Obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>

        

      </div>
      
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>




</mat-dialog-content>