<!-- class="mat-elevation-z8"-->
<div >
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
      </mat-form-field>

    <mat-table class="full-width-table"  matSort aria-label="Elements">

    <!-- Name Column -->
    <ng-container matColumnDef="Numero">
        <mat-header-cell *matHeaderCellDef>N°</mat-header-cell>
        <mat-cell (click)="openUpdateDialog(row)" *matCellDef="let row">{{row?.idReservation}}</mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="libelle">
        <mat-header-cell *matHeaderCellDef  >Parking</mat-header-cell>
        <mat-cell (click)="openUpdateDialog(row)" *matCellDef="let row">{{row?.parking?.libelle }}</mat-cell>
      </ng-container>
      
         <!-- Id Column -->
         <ng-container matColumnDef="dateEntre">
          <mat-header-cell *matHeaderCellDef >Date entré</mat-header-cell>
          <mat-cell (click)="openUpdateDialog(row)" *matCellDef="let row">{{row?.entre| date:'dd/MM/y, HH:mm ' }}</mat-cell>
        </ng-container>
         <!-- Id Column -->
         <ng-container matColumnDef="dateSortie">
            <mat-header-cell *matHeaderCellDef >Date sortie</mat-header-cell>
            <mat-cell (click)="openUpdateDialog(row)" *matCellDef="let row">{{row?.sortie| date:' dd/MM/y, HH:mm ' }}</mat-cell>
            
          </ng-container>
        
          
          <ng-container matColumnDef="Valider">
              <mat-header-cell *matHeaderCellDef  ></mat-header-cell>
              <mat-cell *matCellDef="let row">
                  <button (click)="openDialog(' la réservation de '+row.parking.libelle,row)" mat-icon-button matTooltipPosition="after" matTooltip="Annuler la réservation"><i class="material-icons" style="color: #dd2c00">cancel</i></button>
              
              </mat-cell>
            </ng-container>
            
    
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row    *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div class="footer">
  
    <mat-paginator #paginator
        [length]="dataSource.data?.length"
        [pageSize]="3"
        showFirstLastButtons>
    </mat-paginator>  
    </div>
  </div>
  