<!--Bottom Footer-->
<div class="bottom section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="copyright">
          <p>Copyright © <span>2020</span> <a class="transition">Ahmed Lachkham</a> All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Bottom Footer-->