<!-- class="mat-elevation-z8"-->
<div >
    <mat-table class="full-width-table"  matSort aria-label="Elements">
   
  
      <!-- Name Column -->
      <ng-container matColumnDef="libelle">
        <mat-header-cell *matHeaderCellDef >Parking</mat-header-cell>
        <mat-cell (click)="openUpdateDialog(row)" *matCellDef="let row">{{row.libelle}}</mat-cell>
      </ng-container>
      
         <!-- Id Column -->
         <ng-container matColumnDef="distance">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Distance</mat-header-cell>
          <mat-cell (click)="openUpdateDialog(row)" *matCellDef="let row">{{row.distance}} &nbsp;	Km</mat-cell>
        </ng-container>
         <!-- Id Column -->
         <ng-container matColumnDef="nbPlace">
            <mat-header-cell *matHeaderCellDef >Nombre de Place </mat-header-cell>
            <mat-cell (click)="openUpdateDialog(row)" *matCellDef="let row">{{row.nbPlace}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="Supprimer">
              <mat-header-cell *matHeaderCellDef >
                  <button mat-icon-button matTooltipPosition="after" (click)="openAddDialog()"   matTooltip="Ajouter"><i class="material-icons" style="color: #66bb6a">add_circle_outline</i></button>
  
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                  <button mat-icon-button matTooltipPosition="after"  (click)="openDialog( row.libelle ,row)" matTooltip="Supprimer {{row.libelle}}" ><i class="material-icons" style="color: #dd2c00">delete_outline</i></button>
              </mat-cell>
            </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row      *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div class="footer">
  
    <mat-paginator #paginator
        [length]="dataSource.data?.length"
        [pageSize]="10"
        [pageSizeOptions]="[10, 50, 100, 250]" showFirstLastButtons>
    </mat-paginator>  
    </div>
  </div>
  