<div class="banner ">
<nav class="navbar navbar-expand-md navbar-dark" id="banner">
	<div class="container" >
  <!-- Brand -->
  <a class="navbar-brand" href="#"><span>Parking</span>Tunisie  </a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
   
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link " routerLink="/" routerLinkActive="active">Accueil</a>
      </li>
          <li class="nav-item">
            <a class="nav-link"  (click)="openAddDialog()" >Inscription</a>
      </li>
      <li *ngIf="LoggedIn" class="nav-item">
        <a class="nav-link" routerLink="/admin">Dashboard</a>
     </li>

      <li class="nav-item">
        <a class="nav-link" *ngIf="!LoggedIn" routerLink="/login" >S'identifier</a>
        <a class="nav-link" *ngIf="LoggedIn" (click)="logout()">Déconnexion</a>
     </li>
    
	
    </ul>
  </div>
	</div>
</nav>


	<div class="container gradiant-backgroung">
	<div class="banner-text">

	<div class="banner-sub-heading">
      Réservez votre place de parking!
	</div>
	<button (click)="openAddReservation()" type="button" class="btn btn-warning text-dark btn-banner">Réserver</button>
	</div>
	</div>
</div>
