<mat-dialog-content>
<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Réservation:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
          <div class="col">
              <mat-form-field class="full-width">
                <mat-select placeholder="Parking" formControlName="parking">
                  <mat-option *ngFor="let parking of parkings" [value]="parking?.idParking">
                      <div class="row">
                              <div class="col">{{ parking?.libelle }}</div> <div class="col"><span *ngIf="parking.distance!=null" class="weak">&nbsp;{{ parking?.distance }} Km</span></div>
                    </div>
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="addressForm.controls['parking'].hasError('required')">
                    parking est <strong>Obligatoire</strong>
                </mat-error>
              </mat-form-field>
            </div>
            
              <div class="col">
                  <mat-form-field class="full-width">
                    <input type="text" matInput placeholder="email" formControlName="Emailuser">
                    <mat-hint align="end">Exemple@Exemple.com</mat-hint>
                    <mat-error *ngIf="addressForm.controls['Emailuser'].hasError('required')">
                        Email est <strong>Obligatoire</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

      </div>
      <div class="row">
          <div class="col">
              <mat-form-field owlDateTimeMaterialTrigger  class="full-width">
                  <input matInput readonly   [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Entré" formControlName="dateTimeEntre">
                  <owl-date-time #dt1></owl-date-time>
                  <mat-error *ngIf="addressForm.controls['dateTimeEntre'].hasError('required')">
                      Date Entré est <strong>Obligatoire</strong>
                  </mat-error>
              </mat-form-field>
          </div>
           <div class="col">
              <mat-form-field owlDateTimeMaterialTrigger class="full-width">
                  <input matInput readonly [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Date Sortie" formControlName="dateTimeSortie">
                  <owl-date-time #dt2></owl-date-time>
                  <mat-error *ngIf="addressForm.controls['dateTimeSortie'].hasError('required')">
                      Date Sortie est <strong>Obligatoire</strong>
                  </mat-error>
              </mat-form-field>
          </div> 
      </div>
    </mat-card-content>
     <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
</mat-dialog-content>