.full-width {
    width: 90%;
  }

  .shipping-card {
    min-width: 120px;
    margin: 20px auto;
  }
 
  
  .row {
    display: flex;
    flex-direction: row;
  }

  .card{
    width:33em;
    margin: auto;
    margin-top: 15em
  }
.wrapper{
  background-image: url('/../assets/Backgrounds-027.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 100%;
}
  