
<div class="wrapper">
  &nbsp;
<form [formGroup]="addressForm" novalidate (ngSubmit)="loginUser($event)">
    <mat-card class="shipping-card mat-elevation-z15 card" > 

          <mat-card-header>
            <mat-card-title>s'identifier</mat-card-title>
          </mat-card-header>
          <mat-card-content>

                <div class="row" >
                        <mat-form-field class="full-width" style="margin: auto;">
                            <input type="text" matInput placeholder="Nom d'utilisateur " formControlName="username" required>
                            <mat-error *ngIf="addressForm.controls['username'].hasError('required')">
                                Nom d'utilisateur est <strong>Obligatoire</strong>
                            </mat-error>
                          </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field class="full-width" style="margin: auto;">
                        <input type="password" matInput placeholder="Mot de passe " formControlName="password" required>
                        <mat-error *ngIf="addressForm.controls['password'].hasError('required')">
                            Mot de passe est <strong>Obligatoire</strong>
                        </mat-error>
                      </mat-form-field>
                </div> 

          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Submit</button>
          </mat-card-actions>
    </mat-card>
</form>
</div>