.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  padding: 0;
  
}
.tab-container {
  height: 50em ;
  overflow: auto;
  
}
.mat-card{
  padding: 0;
 
}
.progress-wrapper {
  position: relative;
  margin: 20px auto;
  font-size: 40px;
  overflow: hidden;
}

.current {
  position: absolute;
  color: #bbb;
  font-weight: 100;
  line-height: 1;
}




.progress-wrapper-circular {
  position: absolute;
  right:16px;
  top:0;
  margin: 16px ;
  font-size: 40px;
}
.progress-comment-circular {
  position: absolute;
  width: 40%;
  left:16px;
  top: 48px;
  color: #fafafa;
  margin: 16px ;
  font-size: 16px;
}
.progress-comment-semicircular {
  margin: auto;
  bottom: 5%;
  right: auto;
  left: 30%;
  width: 40%;
  color: #fafafa;
  font-size: 12px;
}