<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="175px">
    <!------------------------------------------------------>
    <mat-grid-tile colspan="1" rowspan="1" >
        <mat-card class="dashboard-card mat-elevation-z8" style="background: #4e342e">
          
          <mat-card-content style="padding: 12px; " class="dashboard-card-content">
            <!--Card Content Here</div>-->
            <!-- <round-progress [current]="current" [max]="max"></round-progress> -->
            <div class="progress-wrapper">
               
              <div class="current" [ngStyle]="getSemiCircleStyle()" >{{(nbParkingActifs/nbParkingValid)*100| number : '1.1'}}%</div>
              <div style="width:80%; margin:auto;">
              <round-progress
            [current]="(nbParkingActifs/nbParkingValid)*100"
            [max]="100"
            [color]="'#fff'"
            [background]="'#4e342e'"
            [radius]="120"
            [responsive]="true"
            [stroke]="5"
            [semicircle]="true"
            [rounded]="true"
            [clockwise]="true"
            [duration]="1500"
            [animation]="'easeInOutQuart'"
            [animationDelay]="10"
           ></round-progress>
            <div class="current progress-comment-semicircular">
                  parkings Actifs
            </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
       <!------------------------------------------------------>
    <mat-grid-tile colspan="1" rowspan="1" >
        <mat-card class="dashboard-card mat-elevation-z8" style="background: #37474f">
          
          <mat-card-content class="dashboard-card-content" style="padding: 12px;">
            <!--Card Content Here</div>-->
            <div class="progress-comment-circular">
                Nombre de places réservées  
            </div>
            <div class="progress-wrapper-circular">
              
              <div class="current circle" [ngStyle]="getCircleStyle()" >{{nbReservationInst}}/{{nbPlacetotal}}</div>
            <round-progress
            style="margin: auto;"
            [current]="nbReservationInst"
            [max]="nbPlacetotal"
            [color]="'#fff'"
            [background]="'#37474f'"
            [radius]="60"
            [stroke]="5"
            [semicircle]="false"
            [rounded]="true"
            [clockwise]="true"
            [responsive]="false"
            [duration]="2000"
            [animation]="'easeInOutQuart'"
            [animationDelay]="10"
           ></round-progress>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
       <!------------------------------------------------------>
    <mat-grid-tile colspan="1" rowspan="1">
        <mat-card class="dashboard-card mat-elevation-z8" style="background: #424242">
          
          <mat-card-content class="dashboard-card-content" style="padding: 12px;">
            <div class="progress-wrapper">
                <div class="current progress-comment-semicircular">
                    Nombre de réservation Totale                
                </div>
              <div class="current semicircle" [ngStyle]="getSemiCircleStyle()" >{{nbReservationTotal}}</div>
              <div style="width:80%; margin:auto;">

              <round-progress
            style="margin: auto;"
            [current]="nbReservationTotal"
            [max]="nbReservationTotal"
            [color]="'#fff'"
            [background]="'#424242'"
            [radius]="120"
            [stroke]="5"
            [semicircle]="true"
            [rounded]="true"
            [clockwise]="true"
            [responsive]="true"
            [duration]="1500"
            [animation]="'easeInOutQuart'"
            [animationDelay]="10"
           ></round-progress>
           </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
       <!------------------------------------------------------>
    <mat-grid-tile colspan="1" rowspan="1">
        <mat-card class="dashboard-card mat-elevation-z8" style="background: #607d8b" >
          
          <mat-card-content class="dashboard-card-content" style="padding: 12px;">
            <!--Card Content Here</div>-->
            <div class="progress-comment-circular">
                nombre de places disponibles
            </div>
            <div class="progress-wrapper-circular">
              <div class="current circle" [ngStyle]="getCircleStyle()" >{{nbPlacetotal-nbReservationInst}}/{{nbPlacetotal}}</div>
          
            <round-progress
            style="margin: auto;"
            [current]="nbPlacetotal-nbReservationInst"
            [max]="nbPlacetotal"
            [color]="'#fff'"
            [background]="'#607d8b'"
            [radius]="60"
            [stroke]="5"
            [semicircle]="false"
            [rounded]="true"
            [clockwise]="true"
            [responsive]="false"
            [duration]="2000"
            [animation]="'easeInOutQuart'"
            [animationDelay]="10"
            ></round-progress>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <!------------------------------------------------------>
    <mat-grid-tile colspan="2" rowspan="2" >
        <mat-card class="dashboard-card mat-elevation-z2">
            
              <mat-card-subtitle style="margin: 8px;">Validation en attente:</mat-card-subtitle>

          <mat-card-content class="dashboard-card-content">
            <!--Card Content Here</div>-->
            <div class="tab-container">

            <app-validation></app-validation>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <!------------------------------------------------------>
    <mat-grid-tile colspan="2" rowspan="4">
        <mat-card class="dashboard-card mat-elevation-z2">
          
            <mat-card-subtitle style="margin: 8px;">Liste des parkings:</mat-card-subtitle>

          <mat-card-content class="tab-container dashboard-card-content">
              <div class="tab-container  ">

            <app-parkings-list></app-parkings-list>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <!------------------------------------------------------>
    <mat-grid-tile colspan="2" rowspan="2">
        <mat-card class="dashboard-card mat-elevation-z2">
            <mat-card-subtitle style="margin: 8px;">Liste des réservations:</mat-card-subtitle>

          <mat-card-content class="dashboard-card-content">
            <!--Card Content Here</div>-->
            <div class="tab-container  ">
            <app-reservation-list></app-reservation-list>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
     
  </mat-grid-list>
</div>
