<!-- class="mat-elevation-z8"-->
<div >
  <mat-table class="full-width-table"  matSort aria-label="Elements">
 

    <!-- Name Column -->
    <ng-container matColumnDef="libelle">
      <mat-header-cell *matHeaderCellDef >Parking</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.libelle}}</mat-cell>
    </ng-container>
    
       <!-- Id Column -->
       <ng-container matColumnDef="distance">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Distance</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.distance}} &nbsp;	Km</mat-cell>
      </ng-container>
       <!-- Id Column -->
       <ng-container matColumnDef="nbPlace">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre de Place disponible</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.nbPlace}}</mat-cell>
        </ng-container>
  

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row  matTooltip="{{row.latitude}},{{row.longitude}}"  matTooltipPosition="after"  (click)="sendCoordinate(row.latitude,row.longitude)"    *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div class="footer">

  <mat-paginator #paginator
      [length]="dataSource.data?.length"
      [pageSize]="10"
      [pageSizeOptions]="[10, 50, 100, 250]" showFirstLastButtons>
  </mat-paginator>  
  </div>
</div>
