  <div  id="map" class="map"></div>
 
  <div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content">
      <mat-spinner *ngIf="!parkingAvailable && !isCurrentPosition" color="accent"></mat-spinner>


      <mat-card class="Position" *ngIf="!parkingAvailable && isCurrentPosition">
          <mat-card-title-group>  
              <mat-card-title>
                    Position actuelle
              </mat-card-title>
          </mat-card-title-group>
          <mat-card-subtitle>
              {{lat}},{{long}}
          </mat-card-subtitle>
      </mat-card>

      <mat-card class="parking" *ngIf="parkingAvailable">
          <mat-card-title-group>  
          <mat-card-title>
               {{parkingInfo?.libelle}}
          </mat-card-title>
          </mat-card-title-group>
          <mat-card-subtitle>
              {{adressInfo?.adresse}},{{adressInfo?.ville}},{{adressInfo?.codePostal}},{{adressInfo?.gouvernorat}},{{adressInfo?.pays}}
          </mat-card-subtitle>
          <mat-card-content>
              Nombre de place :   {{parkingInfo?.nbPlace}}
              <br>
              {{typeInfo?.type}}
          </mat-card-content>
          
          <mat-card-actions>
            <button (click)="openAddReservation()" type="button" class="btn btn-warning text-dark btn-banner">Réserver</button>
          </mat-card-actions>
      </mat-card>




    </div>
  </div>

  <!--
        parkingInfo:Parking;
        adressInfo:Adresse;
        typeInfo:TypeParking;
  -->