
<!-- class="mat-elevation-z8"-->
<div >
    <mat-table *ngIf="dataSourceSize>0" class="full-width-table"  matSort aria-label="Elements">
       
  
      <!-- Name Column -->
      <ng-container matColumnDef="libelle">
        <mat-header-cell *matHeaderCellDef >Parking</mat-header-cell>
        <mat-cell (click)="openUpdateDialog(row)" *matCellDef="let row">{{row.libelle}}</mat-cell>
      </ng-container>
      
         <!-- Id Column -->
         <ng-container matColumnDef="distance">
          <mat-header-cell *matHeaderCellDef>Distance</mat-header-cell>
          <mat-cell (click)="openUpdateDialog(row)"  *matCellDef="let row">{{row.distance}} &nbsp;	Km</mat-cell>
        </ng-container>
         <!-- Id Column -->
         <ng-container matColumnDef="coord">
            <mat-header-cell *matHeaderCellDef >Coordonnées</mat-header-cell>
            <mat-cell (click)="openUpdateDialog(row)"  *matCellDef="let row">{{row.latitude}},{{row.longitude}}</mat-cell>
          </ng-container>
        
          
          <ng-container matColumnDef="Valider">
              <mat-header-cell *matHeaderCellDef  ></mat-header-cell>
              <mat-cell *matCellDef="let row">
                  <button mat-icon-button matTooltip="Valider"    (click)="validation(row,row.libelle)"><i class="material-icons" style="color: #66bb6a
                    ">done</i></button>
                  <button mat-icon-button matTooltipPosition="after" (click)="openDialog( row.libelle ,row)" matTooltip="Supprimer"><i class="material-icons" style="color: #dd2c00">delete_outline</i></button>
              
              </mat-cell>
            </ng-container>
            
    
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row    *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div class="footer">
  
        <mat-paginator *ngIf="dataSourceSize>0"   #paginator
            [length]="dataSource.data?.length"
            [pageSize]="3"
            [pageSizeOptions]="[3, 50, 100, 250]" showFirstLastButtons>
        </mat-paginator>  
    </div>
  </div>

  <div *ngIf="dataSourceSize==0">
      <H4 style="margin-top: 100px;color: #e0e0e0">Pas de parking en attente de validation</H4>
  </div>
  

 