<!-- class="mat-elevation-z8"-->
<div >
        <mat-table class="full-width-table"  matSort aria-label="Elements">
       
      
          <!-- Name Column -->
          <ng-container matColumnDef="nom">
            <mat-header-cell *matHeaderCellDef >Nom</mat-header-cell>
            <mat-cell (click)="openUpdateDialog(row)" *matCellDef="let row">{{row.nom}}</mat-cell>
          </ng-container>
          
             <!-- Id Column -->
             <ng-container matColumnDef="prenom">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Prenom</mat-header-cell>
              <mat-cell (click)="openUpdateDialog(row)" *matCellDef="let row">{{row.prenom}}</mat-cell>
            </ng-container>
             <!-- Id Column -->
             <ng-container matColumnDef="username">
                <mat-header-cell *matHeaderCellDef >Nom d'utilisateur </mat-header-cell>
                <mat-cell (click)="openUpdateDialog(row)" *matCellDef="let row">{{row.username}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="dateNaiss">
                    <mat-header-cell *matHeaderCellDef >Date de naissance </mat-header-cell>
                    <mat-cell (click)="openUpdateDialog(row)" *matCellDef="let row">{{row.dateNaiss| date:' dd/MM/y'}}</mat-cell>
               </ng-container>
               
               <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef >Status </mat-header-cell>
                  <mat-cell (click)="openUpdateDialog(row)" *matCellDef="let row">
                    <div *ngIf="row.status">Actif</div>
                    <div *ngIf="!row.status">Inactif</div>

                  </mat-cell>
             </ng-container>
    
              <ng-container matColumnDef="Supprimer">person_add

                  <mat-header-cell *matHeaderCellDef >
                      <button mat-icon-button matTooltipPosition="after" (click)="openAddDialog()"   matTooltip="Ajouter"><i class="material-icons" style="color: #66bb6a">person_add</i></button>
      
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                      <button mat-icon-button matTooltipPosition="after" *ngIf="!row.status" (click)="openDialog( row.nom+' '+ row.prenom,row)" matTooltip="Réactiver {{row.libelle}}" ><i class="material-icons" style="color: #66bb6a">how_to_reg</i></button>
                      <button mat-icon-button matTooltipPosition="after" *ngIf="row.status" (click)="openDialog( row.nom+' '+ row.prenom,row)" matTooltip="Désactiver {{row.libelle}}" ><i class="material-icons" style="color: #dd2c00">block</i></button>
                  </mat-cell>
                </ng-container>
    
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row      *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div class="footer">
      
        <mat-paginator #paginator
            [length]="dataSource.data?.length"
            [pageSize]="10"
            [pageSizeOptions]="[10, 50, 100, 250]" showFirstLastButtons>
        </mat-paginator>  
        </div>
      </div>
      