/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

html, body { height: 100%; background-color: #fff   }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
