<app-navbar id="nav" class="mat-elevation-z8"  ></app-navbar>

<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="350px">
    <!---------------------------------------------------------------------------------------------------------------------------------------------->
    <mat-grid-tile [colspan]="col1" rowspan="2">
      <mat-card class="dashboard-card" style="padding: 0;">
        <mat-card-content class="dashboard-card-content">
          <div class="tab-container mat-elevation-z2 ">
            <app-parking-tableau (CoordEvent) = "receiveCoord($event)"></app-parking-tableau>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <!---------------------------------------------------------------------------------------------------------------------------------------------->
    <mat-grid-tile [colspan]="col3" rowspan="2">

      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content mat-elevation-z2">
          <div class="map">              
            <app-maps-component  [latitude]="lat" [longitude]="long" ></app-maps-component>
          </div>
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>
    <!---------------------------------------------------------------------------------------------------------------------------------------------->


  </mat-grid-list>
</div>
<app-footer></app-footer>
