

.dashboard-card {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 0;
}


.dashboard-card-content {
  text-align: center;
  padding: 0;
  
}

.tab-container {
  height: 50em ;
  overflow: auto;
  
}
.map{
  height: 50  em;
  width: 100%;
  
  
} 
mat-grid-tile {
  padding: 0;
  
}
@media screen and (max-device-width: 720px){
  .map{
    height: 50  em;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
    
  } 
}