<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav mat-elevation-z8" fixedInViewport
      attr.role='navigation'
      mode='side'
      [opened]="opned">
      <mat-toolbar style="background: #fafafa" class="mat-elevation-z8" >
        <h1></h1>
        <span><img src="assets/baseline-settings-20px.svg"/></span> &nbsp;  Menu
      </mat-toolbar>
      <br>
      
    <mat-nav-list>
      <a mat-list-item routerLink="/admin/dashboard" routerLinkActive="active">
        <span [matBadge]="validation" matBadgeOverlap="true"matBadgeColor="warn" matBadgePosition="before">
          <img src="assets/baseline-dashboard-24px.svg"/>
        </span> &nbsp; Tableau de bord</a>
      <a mat-list-item routerLink="/admin/account" routerLinkActive="active"><span><img src="assets/baseline-account_circle-24px.svg"/></span>&nbsp;Compte</a>
      <a mat-list-item routerLink="/admin/users" *ngIf="Admin" routerLinkActive="active"><span><img src="assets/baseline-supervised_user_circle-24px.svg"/></span>&nbsp;Gérer les employés</a>
    </mat-nav-list>
  </mat-sidenav>
  
  
  <mat-sidenav-content >

    <mat-toolbar  color="primary" class="mat-elevation-z8" style="background: black">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
       >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <a class="navbar-brand" href="#"><span>Parking</span>Tunisie  </a>

      
    <div class="logout">
      <button mat-button routerLink="/home">Accueil</button>

     <button mat-button (click)="logout()">Déconnexion</button>

    </div>
      
    </mat-toolbar>
    <!-- Add Content Here -->
    <div style="margin: auto">
        <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
