<h1 mat-dialog-title>Attention!</h1>
<div mat-dialog-content>
  <p>Vous allez supprimer {{data}}</p>
 
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]=true >Oui</button>
    <button mat-button (click)="onNoClick()" cdkFocusInitial>Non</button>
</div>
