<form  [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">

<div class="grid-container" >
        <mat-grid-list cols="1" rowHeight="47.5em" >
   
          <mat-grid-tile colspan="1" rowspan="1"  > 
              <mat-card class="dashboard-card mat-elevation-z5 Adresse-card">
                
                  <mat-card-subtitle style="margin: 8px;">Compte:</mat-card-subtitle>
      
                <mat-card-content class="tab-container dashboard-card-content" >

                    <div class="tab-container ">
                                        <mat-card class="Adresse-card">
                                            <mat-card-header>
                                              <mat-card-title>Utilisateur</mat-card-title>
                                            </mat-card-header>
                                            <mat-card-content>
                                    
                                    
                                    
                                          <div class="row">
                                
                                             <div class="col">
                                                <mat-form-field class="full-width">
                                                  <input type="text" matInput placeholder="Prenom" formControlName="prenom">
                                                  <mat-error *ngIf="addressForm.controls['prenom'].hasError('required')">
                                                    Prenom est <strong>Obligatoire</strong>
                                                  </mat-error>
                                                </mat-form-field>
                                              </div>
                                    
                                              <div class="col">
                                                  <mat-form-field class="full-width">
                                                    <input type="text" matInput placeholder="Nom" formControlName="nom">
                                                    <mat-error *ngIf="addressForm.controls['nom'].hasError('required')">
                                                        Nom est <strong>Obligatoire</strong>
                                                    </mat-error>
                                                  </mat-form-field>
                                                </div>
                                          </div>
                                    
                                          <div class="row">
                                              <div class="col">
                                                  <mat-form-field class="full-width">
                                                    <input type="number" matInput placeholder="C.I.N" formControlName="cin">
                                                    <mat-error *ngIf="addressForm.controls['cin'].hasError('required')">
                                                        C.I.N est <strong>Obligatoire</strong>
                                                    </mat-error>
                                                  </mat-form-field>
                                                </div>
                                              
                                                <div class="col">
                                
                                                <mat-form-field class="full-width">
                                                    <input matInput  [matDatepicker]="picker" placeholder="Date de naissance" formControlName="DateNaiss">
                                                    <mat-error *ngIf="addressForm.controls['DateNaiss'].hasError('required')">
                                                        Date de naissance est <strong>Obligatoire</strong>
                                                      </mat-error>
                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                </mat-form-field>
                                                </div>
                                                
                                
                                              
                                          </div>
                                          <div class="row">
                                            
                                              <div class="col">
                                                  <mat-form-field class="full-width">
                                                    <input type="text" matInput placeholder="email" formControlName="Emailuser">
                                                    <mat-hint align="end">Exemple@Exemple.com</mat-hint>
                                                    <mat-error *ngIf="addressForm.controls['Emailuser'].hasError('required')">
                                                        Email est <strong>Obligatoire</strong>
                                                    </mat-error>
                                                  </mat-form-field>
                                                </div>
                                          </div>
                                
                                          <div class="row">
                                              
                                              <div class="col">
                                                  <mat-form-field class="full-width">
                                                    <input type="text" matInput placeholder="Nom d'utilisateur" formControlName="username" pattern="[a-zA-Z0-9\-]*">
                                                    <mat-hint align="end">a-z A-Z - 0-9</mat-hint>
                                
                                                    <mat-error *ngIf="addressForm.controls['username'].hasError('required')">
                                                        Nom d'utilisateur est <strong>Obligatoire</strong>
                                                    </mat-error>
                                                  </mat-form-field>
                                                </div>
                                              <div class="col">
                                                  <mat-form-field class="full-width">
                                                    <input type="password" matInput placeholder="Mot de passe" formControlName="password">
                                                    <mat-error *ngIf="addressForm.controls['password'].hasError('required')">
                                                        Mot de passe est <strong>Obligatoire</strong>
                                                    </mat-error>
                                                  </mat-form-field>
                                                </div>
                                          </div>
                                
                                        </mat-card-content>
                                        </mat-card>
                                    
                                    
                                      <mat-card class="Adresse-card">
                                        <mat-card-header>
                                          <mat-card-title>Adresse</mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                          
                                        
                                          <div class="row">
                                            <div class="col">
                                              <mat-form-field class="full-width">
                                                <textarea matInput placeholder="Adresse" formControlName="adresse"></textarea>
                                                <mat-error *ngIf="addressForm.controls['adresse'].hasError('required')">
                                                  L'Adresse est <strong>Obligatoire</strong>
                                                </mat-error>
                                              </mat-form-field>
                                            </div>
                                          </div>
                                          <div class="row">
                                            <div class="col">
                                              <mat-form-field class="full-width">
                                                <input matInput placeholder="Ville" formControlName="Ville">
                                                <mat-error *ngIf="addressForm.controls['Ville'].hasError('required')">
                                                  Ville est <strong>Obligatoire</strong>
                                                </mat-error>
                                              </mat-form-field>
                                            </div>
                                            <div class="col">
                                              <mat-form-field class="full-width">
                                                <mat-select placeholder="Gouvernorat" formControlName="Gouvernorat">
                                                  <mat-option *ngFor="let state of states" [value]="state.abbreviation">
                                                    {{ state.name }}
                                                  </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="addressForm.controls['Gouvernorat'].hasError('required')">
                                                  Gouvernorat est <strong>Obligatoire</strong>
                                                </mat-error>
                                              </mat-form-field>
                                            </div>
                                          </div>
                                          <div class="row">
                                            <div class="col">
                                              <mat-form-field class="full-width">
                                                <input matInput #postalCode maxlength="5" placeholder="Code Postale" type="number" formControlName="postalCode">
                                                <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                                              </mat-form-field>
                                            </div>
                                    
                                            <div class="col">
                                              <mat-form-field class="full-width">
                                                <input matInput placeholder="Pays" formControlName="Pays">
                                                <mat-error *ngIf="addressForm.controls['Pays'].hasError('required')">
                                                  Ville est <strong>Obligatoire</strong>
                                                </mat-error>
                                              </mat-form-field>
                                            </div>
                                          </div>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-raised-button color="primary" type="submit">Submit</button>
                                          </mat-card-actions>
                                      </mat-card>
                                    
                                    
                                    
                                                         
                
                
                
                </div>
                </mat-card-content>

               
              </mat-card>
            </mat-grid-tile>
            <!------------------------------------------------------>
       
           
        </mat-grid-list>
</div>
</form>
