.grid-container {
    margin: 5px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
    
  }
  
  .dashboard-card-content {
    text-align: center;
    padding: 0;
    
    
  }
  .tab-container {
    height: 55em ;
    overflow: hidden;
    overflow-y: auto;
  }
  .mat-card{
    padding: 0;

  }
 
  
  .full-width {
    width: 95%;
    margin: 10px;
  }
  
  .shipping-card {
    min-width: 120px;
    margin: 20px auto;
  }
  
  .mat-radio-button {
    display: block;
    margin: 5px 0;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }
  
  .col:last-child {
    margin-right: 0;
  }
  .formdiv{
    margin: 10px;
    height: 100%;
  }
  